@model IEnumerable<AppData.Models.LoaiSP>

@{
    ViewData["Title"] = "GetAllLoaiSP";
}

<h1>GetAllLoaiSP</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDLoaiSPCha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDLoaiSPCha)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Deletes", new { id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
